/*------------------------------------------
Template Name: AdminEx Dashboard
Author: ThemeBucket
-------------------------------------------*/

div {
    width: 50px;
    height: 80%;
    background-image: url("http://admin.lcfinance.net/images/phone.png");
}