
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Flask-CKEditor Demo</title>
        </head>
        <body>
            <div class="warpper" style="width: 700px; margin: auto">
                <h1>测试版本</h1>
                <p>测试版本&nbsp&nbsp&nbsp&nbsp2020-04-28</p>
                <div><p><strong><img alt="" src="https://hx24.huoxing24.com/image/news/2020/02/28/1582870424388720.jpg" style="height:100px; width:100px" /></strong></p>

<p><strong>文 | 梁雨山</strong></p>

<p><strong>火星财经APP（微信：hxcj24h）一线报道</strong>，2月28日，百度公布2019年第四季度及全年未经审计的财务报告，其中首次提及区块链BaaS平台的业务进展。</p>

<p>据官方介绍，百度与浦发银行的战略合作关系正在持续升级，后者通过百度智能云私有化部署的区块链即服务平台（BaaS）与多家商业银行建立区块链联盟，目前已构建跨机构之间的链上信息共享机制，在风控、营销等场景实现应用落地。</p>

<p>公开资料显示，百度区块链BaaS平台于2017推出，是商业级区块链云计算平台，旨在帮助企业联盟构建属于自己的区块链网络平台。相关报道称，百度区块链BaaS平台是继腾讯后国内第二个融合云计算与区块链技术的商业级云计算平台。</p>

<p>据火星财经此前报道，从2016年至今，百度已先后通过投资、研发、合作等方式深入布局区块链领域。2016年，百度投资美国区块链技术公司Circle，开始涉足区块链赛道。随后，百度以独立研发区块链相关技术为切入点，陆续推出莱茨狗区块链游戏、百度百科上链、开源底层区块链框架Xuperchain、BaaS平台区块链引擎BBE等应用。</p>

<p>从2019年起，百度加速在区块链方向的创新投入力度。2019年12月，百度智能云联合上海徐家汇商城有限公司和上海徐家汇科委，建设全球首个大数据+AI+区块链的智慧商圈。百度智能云承建徐家汇智慧商城项目，其中&ldquo;天链-区块链平台&rdquo;是该项目的核心基础设施。</p>

<p><img alt="" src="https://hx24.huoxing24.com/image/news/2020/02/28/1582870532774257.jpg" style="height:123px; width:150px" /></p>

<p>据了解，天链-区块链平台&rdquo;是百度区块链产业化的布局重点，其产品矩阵中包括BaaS平台区块链引擎（支持多种底层技术框架，包括百度自研开源的Xuperchain底层框架）、可信计算平台、可信数字身份平台、可信数字版权平台等四个产品，助力金融、政务、医疗、互联网等各行各业建立新型的企业协作模式。</p>

<p>进入2020年，百度于1月7日宣布投资宇信科技约6亿元，以协助百度智能云推广区块链+金融的行业级解决方案，包括但不限于供应链金融、积分链、可信计算、合规Token等内容。从目前来看，百度以技术输出、落地场景合作为发力点，试图全面深入区块链领域，推进业务发展速度。</p>
</div>
                <p style=" margin-top: 30px;">阅读 <span id="read_num">0</span></p>
            </div>

           <script>
                document.getElementById("read_num").textContent = {{ read_nums }};
            </script>
         </body>
         </html>

         