
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Flask-CKEditor Demo</title>
        </head>
        <body>
            <div class="warpper" style="width: 700px; margin: auto">
                <h1>姬翔宇</h1>
                <p>姬翔宇&nbsp&nbsp&nbsp&nbsp2020-04-28</p>
                <div><p>jklbnjkhnkjl&nbsp;<img alt="" src="/files/202004162013248309.jpg" style="height:103px; width:121px" /></p>
</div>
                <p style=" margin-top: 30px;">阅读 <span id="read_num">0</span></p>
            </div>

           <script>
                document.getElementById("read_num").textContent = {{ read_nums }};
            </script>
         </body>
         </html>

         