
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Flask-CKEditor Demo</title>
        </head>
        <body>
            <div class="warpper" style="width: 700px; margin: auto">
                <h1>姬翔宇</h1>
                <p>姬翔宇&nbsp&nbsp&nbsp&nbsp2020-04-28</p>
                <div><p><strong>文 ｜互链脉搏&middot;元尚</strong></p>

<p>【互链脉搏按】&ldquo;战疫&rdquo;是当下中国乃至全球的重大事件，人与病毒没有硝烟的战争可能从人类诞生就已经开始，但人类的武器库多了很多工具，包括区块链。互链脉搏从多维度发掘区块链战&ldquo;疫&rdquo;的能力。特制作【区块链战&ldquo;疫&rdquo;】专题，此为第五篇。</p>

<p>李文亮去世后，建立&ldquo;吹哨人&rdquo;制度的呼声四起。</p>

<p>但事实上，中国国务院去年就提出要建立吹哨人制度。2019年9月12日，国务院发布了《国务院关于加强和规范事中事后监管的指导意见》，其中明确提出建立&ldquo;吹哨人&rdquo;制度。这是国务院层面首次对建立&ldquo;吹哨人&rdquo;制度作出部署。</p>

<p><img src="https://hx24.huoxing24.com/image/crawler/2020/02/12/1581474464221201.jpg" /></p>

<p>《指导意见》第十六条明确指出：发挥社会监督作用。建立&ldquo;吹哨人&rdquo;、内部举报人等制度，对举报严重违法违规行为和重大风险隐患的有功人员予以重奖和严格保护。畅通群众监督渠道，整合优化政府投诉举报平台功能，力争做到&ldquo;一号响应&rdquo;。</p>

<p>与此同时，《指导意见》也明确提出要用包括&ldquo;区块链等技术等新技术推动监管创新，努力做到监管效能最大化、监管成本最优化、对市场主体干扰最小化。&rdquo;</p>

<p>吹哨人和区块链</p>

<p>&ldquo;吹哨人&rdquo;一词源于英国，警察在发现罪案时吹哨，以引起同事和民众的注意。而吹哨人制度则起源于19世纪美国食品药品安全领域，1989年美国国会制定了《吹哨人保护法案》。</p>

<p>美国方案明确 &ldquo;吹哨人&rdquo;的人身权利不受伤害，从而使这些&ldquo;吹哨人&rdquo;能够没有后顾之忧，更好的监督其自身单位以及相关领导的日常工作；同时提出奖励方案，如提供准确的违法信息并协助执法，事成之后举报人可以分享到10%到30%的甚至更高的罚金、赔偿等执法成果。</p>

<p>去年9月发布的《国务院关于加强和规范事中事后监管的指导意见》是为了&ldquo;进一步加强和规范事中事后监管，以公正监管促进公平竞争，加快打造市场化法治化国际化营商环境。&rdquo; 此文件并未提及设计公共卫生、食品安全等领域。因此当新冠疫情爆发后，其内部自下而上越级举报、吹哨等措施似乎没有，李文亮等8位医生只能悄悄提醒自己周边的人。</p>

<p>然而，也不必言必称美国。美国吹哨人相关法案是工业时代制定的，在运行过程中也存在大量的问题。比如转基因技术、动物权益保护等与农牧业相关的题材一直是许多调查记者追踪的热点之一。但在过去十年，美国有八个州通过了禁止暗中拍摄、散布农场活动的视频或照片的法案，法案主要针对调查、举报有虐待动物行为的举报者。《纽约时报》专栏作者马克&middot;比特曼在2011年4月的一篇专栏文章中将其称为&ldquo;农业钳口法&rdquo;。目前，有超过一半的州议会对此法案进行过立法讨论，其中有17个州通过。在那些已经实施此法案的州，其运用范围已经延伸到澳大利亚等国，并逐渐扩大到其他产业领域。由此可见，吹哨人在法律上的处境不容乐观。被举报的法人或雇主&ldquo;倒打一耙&rdquo;，依据相关法律指控吹哨人窃取机构财产与信息。</p>

<p>进入信息时代，中国在数字化、人工智能、大数据、区块链领域走在世界前列，运用包括区块链技术建立新的&ldquo;吹哨人&rdquo;机制，可以实现中国&ldquo;吹哨人&rdquo;机制的跨越发展。</p>

<p>对于&ldquo;吹哨人&rdquo;而言，最大的问题是规避&ldquo;吹哨人&rdquo;事中事后身份信息泄露，保证其人身安全，尽可能减小举报对&ldquo;吹哨人&rdquo;的影响。美国、日本目前的做法都是事后，依据法律条文进行查处，但是对当事人的影响已经产生。</p>

<p><img src="https://hx24.huoxing24.com/image/crawler/2020/02/12/1581474464556237.jpg" /></p>

<p>如果运用区块链，吹哨当事人的身份泄露问题几乎不用担心。假设CDC（中国疾病预防控制中心）已经建立了这么一套基于区块链的吹哨人系统，系统链上了医生、医院、检测设备等。李文亮等医生将了解的情况直接上报，当系统接收到多个医院上报类似的信息，以及检测机器的信息，交叉比对确认真实性并触发阈值，智能合约自动启动防疫响应机制。由于使用区块链，李文亮等医生的身份信息加密，会获得很好的保护。</p>

<p>与此同时，对于吹哨人的奖励也可以通过区块链执行。比如在上述系统中，当智能合约触发防疫机制启动后，其为国家、社会节省的成本可以拿出一部分对贡献者进行奖励。这方面区块链最擅长了，银行等金融加入到这个系统。李文亮等医生上报的信息获取了相应的记录证明获得了吹哨人token，根据智能合约约定的分配机制，奖金直接通过CDC的奖励账户到了李文亮个人账户，通过环签名等隐私保护机制，CDC、银行、李文亮所在医院都不知道谁获得了这笔奖励。</p>

<p>监管和区块链</p>

<p>除了对&ldquo;吹哨人&rdquo;制度的贡献，区块链在其他预警机制建设方面也有&ldquo;用武之地&rdquo;。在《国务院关于加强和规范事中事后监管的指导意见》中，其中一项&ldquo;基本原则&rdquo;是科学高效。充分发挥现代科技手段在事中事后监管中的作用，依托互联网、大数据、物联网、云计算、人工智能、区块链等新技术推动监管创新，努力做到监管效能最大化、监管成本最优化、对市场主体干扰最小化。</p>

<p>今年1月，证监会科技监管局局长姚前在《中国金融电脑》杂志社撰文分析了全球资本市场科技监管发展现状。在姚前看来，近十年来，计算能力和数据存储的成本急剧下降，计算机处理能力大幅度提升，有效推动了如人工智能、机器学习等数据技术的兴起。同时，云计算、区块链等创新技术快速发展，这些技术不仅可用于商业，也可支持监管。</p>

<p>目前的监管大都于事后，并且往往造成重大损失后才发生。包括此次疫情，还有之前的P2P乱象。</p>

<p>造成事中监管的难点在于信息的及时性和真实性。</p>

<p>在&ldquo;信息互联网&rdquo;阶段，信息的及时性已经可以解决。比如&ldquo;冒烟指数&rdquo;在P2P方面的打击取得了不错的成绩。2016年左右在北京市各部门的协助下，包括互联网、公检法、工商税务以及一切公开的信息，开始汇集到这个大数据监测预警非法集资平台上。用&ldquo;冒烟指数&rdquo;来衡量网贷平台的危害程度，主要通过收益率偏离度、投诉率、传播虚假性、机构合规度、疑似非法性五个维度进行判断。对&ldquo;冒烟指数&rdquo;超过60分的平台，相关部门要列入重点监管，超过80分的，政法机关就要及时启动打击处置程序。据悉，每日数据量更新达5000万条。</p>

<p>然而，P2P公司也注意到了&ldquo;冒烟指数&rdquo;的监控，于是在数据方面做起了文章。至今知乎等平台还有如何降低&ldquo;冒烟指数&rdquo;的内容。</p>

<p><img src="https://hx24.huoxing24.com/image/crawler/2020/02/12/1581474464840966.jpg" /></p>

<p>信息互联网因为信息的可复制、可篡改，存在大量的虚假信息，于是造成后期仍需要大量的算力和开发&ldquo;去伪存真&rdquo;，浪费大量的费用。而区块链从数据生产开始就考虑真实性，上链后又保障数据的真实性，在事中、事后的数据处理方面，反而非常节省成本。</p>

<p>回到国务院发布的《指导意见》，无论是吹哨人制度还是区块链在监管方面的应用，都可以在各个行政领域去推广，也希望能够尽快落地。</p>

<p>本文为【互链脉搏】原创，转载请注明出处！</p>
</div>
                <p style=" margin-top: 30px;">阅读 <span id="read_num">0</span></p>
            </div>

           <script>
                document.getElementById("read_num").textContent = {{ read_nums }};
            </script>
         </body>
         </html>

         