<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="warpper" style="width: 700px; margin: auto">
		<h1>Flask-CKEditor Demo: Image Upload</h1>
		<form method="post">
			{{ form.csrf_token }}
			{{ form.title.label }}<br>
			{{ form.title }} <br><br>
            {{ form.author.label }}<br>
			{{ form.author }}<br><br>
			{{ form.body.label }}<br>
			{{ form.body }}
			<br>
			{{ form.submit }}

		</form>
	</div>
{#    <button type="button" class="btn btn-primary" href="javascript:void(0);" onclick="yulan()">{{ form.submit }}</button>#}
    {{ ckeditor.load() }}
	{{ ckeditor.config(name='body') }}
    <script type="text/javascript">



        function yulan() {
            $.get('/yu', function (html) {
                alert(html)

            })
        }


    </script>

</body>
</html>