{% extends 'template.html' %}

{% block body %}

    <script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts.min.js"></script>
    <button type="button" class="btn btn-success" style="margin-left: 1000px;" href="javascript:void(0);" onclick="add()">Add Article</button>
    <div class="row" style="margin-left: 100px;">
      <div class="col-md-8">
                       <table class="table" id="stard">
                            <thead>
                             <tr id="p">
                                    <th>ID</th>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th>创建时间</th>
                                    <th>状态</th>
                                    <th>阅读数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>

                             {% for p in datas.data %}

                                 <tr>
                                    <td>{{ p.id_flag }}</td>
                                     <td><small>{{ p.title }}</small></td>
                                    <td>{{ p.author }}</td>
                                     <td>{{ p.publish_time }}</td>
                                     {% if p.status == 0 %}
                                        <td>未发布</td>
                                     {% else %}
                                        <td>已发布</td>

                                     {% endif %}

                                    <td>{{ p.read_num }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" href="javascript:void(0);" onclick="bbb('{{ p.id_flag }}')">预览</button>
                                        {% if p.status == 0 %}
                                            <button type="button" class="btn btn-danger" href="javascript:void(0);" onclick="fabu('{{ p.id_flag }}')">发布</button>
                                        {% else %}
                                            <button type="button" class="btn btn-success" href="javascript:void(0);">已发布</button>
                                        {% endif %}
                                        <button type="button" class="btn btn-waring" href="javascript:void(0);" onclick="bianji('{{ p.id_flag }}')">编辑</button>
                                    </td>
                                 </tr>
                            {% endfor %}

                            </tbody>

                       </table>

    </div>
    </div>

     <script type="text/javascript">

        function bbb(grid_id) {
            window.location.href = "http://127.0.0.1:3080/preview?id="+grid_id

            }

        function add() {
            $.get('/add_article', function (html) {
                window.location.href = "http://127.0.0.1:3080/add_article";

            })
        }

        function fabu(grid_id) {
            window.location.href = "http://127.0.0.1:3080/art?id="+grid_id;

        }

        function bianji(grid_id) {

                window.location.href = "http://127.0.0.1:3080/bianji?id="+grid_id;

            }



    </script>


{% endblock %}