<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>控制后台</title>

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="login-body" style='background-image: url("http://bpic.588ku.com//back_origin_min_pic/19/04/13/8aa99b8b9857822bb24d3cdbfcc99c84.jpg")'>

        <div class="container">

            <form class="form-signin" action="center.html"  method="post"  id="Login-App">

                <div class="form-signin-heading text-center">
                    <h1 class="sign-title">登录</h1>
                </div>

                <div class="login-wrap">

                    <input type="text"  v-model="username" name="username"  class="form-control" placeholder="用户名/邮箱" autofocus />
                    <input type="password" v-model="password"  class="form-control" placeholder="密码" />
                    <input type="password" v-model="ga"  class="form-control" placeholder="Google-QA" />


                    <button class="btn btn-lg btn-login btn-block" type="button"  v-on:click="doLogin">
                        <i class="fa fa-check"></i>
                    </button>

                    <template v-if="hasErr">
                        <hr/>
                        <div v-for="error in errorMsg"  class="alert alert-danger alert-dismissible fade in" role="alert">
                                {{error}}
                        </div>
                    </template>

                </div>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">忘记密码 ?</h4>
                            </div>
                            <div class="modal-body">
                                <p>请输入您的邮箱地址.</p>
                                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                <button class="btn btn-primary" type="button">发送邮件</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal -->

            </form>
        </div>

        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="https://cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>

        <script type="text/javascript">

            $(function () {

                new Vue({
                   el:'#Login-App',
                    data:{
                        errorMsg:[],
                        hasErr:false
                    },
                    methods:{
                        doLogin:function (event) {


                            var valid = true;

                            var errors = [];

                            if(this.username && this.username.length>2){

                            }
                            else{
                                valid = false;
                                errors.push('用户名不能为空')
                            }


                            if(this.password && this.password.length>2){


                            }
                            else{
                                valid = false;
                                errors.push('密码不能为空')
                            }


                            if(this.ga && this.ga.length>2){


                            }
                            else{
                                valid = false;
                                errors.push('GA不能为空')
                            }


                            if(!valid) {
                                this.hasErr=true;
                                this.errorMsg=errors;
                                return;
                            }
                            else{
                                this.errorMsg = [];
                                this.hasErr=false;
                            }

                            $(event.target).attr('disabled', true);

                            var param  = {
                                username:this.username,
                                password:this.password,
                                ga:this.ga
                            }

                            var self = this;
                            $.post('/login.do',param,function (data) {

                                if(data.ok) {

                                   location = '/index.html'
                                }
                                else{
                                    self.hasErr=true;
                                    self.errorMsg = ['输入错误被锁定'];
                                    $(event.target).attr('disabled', false);
                                }

                            });
                        }
                    }
                });
            })

        </script>
</body>
</html>