<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="UTF-8">
 	<title>Flask-CKEditor Demo</title>
{#    <link href="/static/css/phone_img.css" rel="stylesheet">#}
</head>
<body>
	<div class="warpper" style="width: 375px;  height:700px;   background-image: url('http://admin.lcfinance.net/images/phone.png');">
        <div style="height: 565px; overflow-y: scroll; position: relative; top:100px;">

            <h1 style="margin-left: 35px; margin-right: 5px;">{{ title }}</h1>
            <p style="margin-left: 35px; margin-right: 5px;margin-top: 2px;">{{ author.authors }} {{ author.publish_time }}</p>
		    <div style="margin-left: 35px;margin-right: 5px;">{{ body|safe }}</div>
             <p style="margin-left: 35px;">阅读 <span>{{ read_num }}</span></p>
        </div>


	</div>

</body>
<a href="/index.html">返回主页</a>
</html>

