<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Boss System</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        header {
            margin-top: 5px;
            margin-bottom: 2%;
        }
    </style>

</head>
<body>
    <header>
        <div class="container-fluid">
             <ul class="nav nav-tabs">
              <li role="presentation" id="nav-strategy"><a href="">后台管理</a></li>
{#              <li role="presentation" id="nav-exchange"><a href="/quant-boss/exchange/index.html">交易所账号管理</a></li>#}
{#              <li role="presentation" id="nav-trading"><a href="/quant-boss/trading/list.html">实盘网格</a></li>#}
{#              <li role="presentation" id="nav-account"><a href="/quant-boss/account/index.html">账户管理</a></li>#}
{#              <li role="presentation" id="nav-strategy_management"><a href="/quant-boss/tactics/index.html">策略管理</a></li>#}
{#                 <li role="presentation" id="nav-operation"><a href="/quant-boss/htrader/index.html">实盘手操</a></li>#}
            </ul>
        </div>
    </header>

    <div class="container-fluid">
        <div id="main-content" class="row">
            {% block body %}{% endblock %}
        </div>

    </div>


    <script type="text/javascript">

        $(function () {

            var current_page = '{{ page_id }}';

            $('#nav-'+current_page).addClass('active')
        })

    </script>

</body>
</html>